/*-Bootstrap-*/

.container {
	text-align: center;
	width: 550px;
}


/*-Game Viewport-*/

#set-stats-screen {

}

#form-stat-names {
	margin-top: 10px;
	text-align: left;
	font-size: 18px;
	list-style: none;
	float: left;
}

#form-stat-controls {
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	list-style: none;
	float:left;
}

#name-entry {
	text-align: center;
	margin-top: 10px;
}

#game-window {
	background-color: red;
	width: 100%;
	height: 250px;
}

.game-render {
	background-color: grey;
	width: 100%;
	height: 85%;
}

#player-bar {
	background-color: black;
	width: 100%;
	height: 15%;
	color: white;
	padding-top: 10px;
}


/*-Menus-*/

#menu-selector {
	background-color: black;
	width: 100%;
}

#sub-menus {
	background-color: black;
	width: 100%;
	height: 150px;
}

#attack-menu {
	display: none;
}

#defense-menu {
	display: none;
}

#skill-menu {
	display: none;
}

#talk-menu {
	display: none;
}

#item-menu {
	display: none;
}

#stat-menu {
	background-color: white;
	border-radius: 10px;
	width: 90%;
	height: 85%;
	margin: auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/*-Game Log-*/

#game-log {
	overflow-y: scroll;
	height: 150px;
	text-align: left;
}
