/*-Bootstrap-*/

.container {
	text-align: center;
	width: 550px;
}


/*Game Viewport*/

#game-window {
	background-color: red;
	width: 100%;
	height: 250px;
}

.game-render {
	background-color: grey;
	width: 100%;
	height: 85%;
}

#player-bar {
	font-size: 12px;
	background-color: black;
	width: 100%;
	height: 15%;
	color: white;
	padding-top: 10px;
}


/*-Start Menu-*/

#start-game {
	font-size: 20px;
	margin-top: 90px;
}


/*-Set Stats Form-*/

#set-stats-screen {
	display: none;
}

#form-stat-names {
	margin-top: 10px;
	text-align: left;
	font-size: 18px;
	list-style: none;
	float: left;
}

#form-stat-controls {
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	list-style: none;
	float:left;
}

#name-entry {
	text-align: center;
	margin-top: 10px;
}

#stat-limit-gauge {
	font-weight: bold;
	height: 110px;
	padding-top: 30px;
}

#stat-limit-value {
	font-size: 40px;
}

#confirm-character {
}


/*-Menus-*/

#hud-info {
	display: none;
}

#hud-floor {
	display: none;
}

#menu-selector {
	background-color: black;
	width: 100%;
}

#sub-menus {
	background-color: black;
	width: 100%;
	height: 150px;
}

.menu {
	background-color: white;
	border-radius: 10px;
	width: 90%;
	height: 85%;
	margin: auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#attack-menu {
	display: none;
}

#defense-menu {
	display: none;
}

#skill-menu {
	display: none;
}

#talk-menu {
	display: none;
}

#item-menu {
	display: none;
}

#stat-menu {
	
}

.stat-menu {
	display: none;
	margin-top: 2px;
	text-align: left;
	font-size: 12px;
	list-style: none;
	float: left;
}

#stat-sub-menu {
	display: none;
	border-top: 1px solid grey;
	height: 30px;
}

.base-stat {
	color: red;
}


/*-Game Log-*/

#game-log {
	overflow-y: scroll;
	height: 150px;
	text-align: left;
}
